.primary-color {
  color: #454545;
}

.secondary-color {
  color: #777E85
}

.tertiary-color {
  color: #EFF0F1;
}

.primary-background {
  background: #454545;  
}

.secondary-background {
  background: #777E85
}

.tertiary-background {
  background: #EFF0F1;  
}
