.root {
  composes: app-width from 'composes/sizes.css';
}

.main {
  display: flex;
}

.image {
  max-width: 400px;
  min-width: 300px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.list {
  composes: secondary-color from 'composes/colors.css';
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.list li {
  padding: 1rem;
  background: #EFF0F1;
  margin: 0.5rem;
}

.image img {
  width: 100%;
}

.paragraph {
  margin-bottom: 1rem;
  line-height: 1.4;
  text-align: left;
  font-size: 0.9.5rem;
}
