.root {
  composes: primary-color from 'composes/colors.css';
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 3rem 2rem;
}

.name {
  color: black;
  text-transform: uppercase;
  font-size: 3rem;
}

.tagline {
  composes: secondary-color from 'composes/colors.css';
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1rem 0 0;
}

.routes {
  padding: 3rem 0;
  flex: 1;
}
